@charset "utf-8";
body {
margin: 0;
}
.flex {
display: flex;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.red--box {
width: 400px;
height: 100px;
background-color:  #ff0000;
}
.blue--box {
float: left;
width: 250px;
height: 250px;
background: #3300ff
}
.green--box {
  float: left;
  width: 150px;
  height: 250px;
  background-color: #00ff1e
  }
  .yellow--box {
  width: 400px;
  height: 350px;
  background: #ffe600
  }